*{
  margin:0;
  padding:0;
}
.background{
  position: absolute;
  height: 100%;
  width: 100%;
  background-image:linear-gradient(rgba(0, 0, 0,0.6),rgba(0, 0, 0,0.6)) ,url("login page mentee.jpg");
  background-position: center;
  background-size: cover;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}
.formbox{
  width:380px;
  height: 580px;
  position: relative;
  margin:6% auto;
  background-color:rgba(51, 48, 48, 0.5);
  padding: 5px;
  background-position: center;
 
  
}

.buttonbox{
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px white;
  border-radius: 30px;
}

.toggle-btn
{
  padding: 10px 30px;
  cursor: pointer;
  background:transparent;
  border:0;
  outline: none;
  position: relative;
  color: white;
  text-align: center;
      font-family: Arial, Helvetica, sans-serif;
    


}

#btn{
  top: 0;
  left: 0;
  position:absolute;
  width: 220px;
  height: 100%;
  background: linear-gradient(to right,rgb(10, 10, 10),grey,black); 
  border-radius: 30px;
  transition: 0.5s;
}


.inputgroup{
  top: 50px;
  position: absolute;
  width: 280px;
 
 right: -20;
 
}

.inputfield{
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0 ;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid cornsilk;
  outline:none ;
  background: transparent;
  color: black;
}
.inputfield1{
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0 ;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid cornsilk;
  outline:none ;
  background: transparent;
  color: black;
}
.submitbtn{
  width: 85%;
  padding: 10px 50px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right,rgb(10, 10, 10),grey,black);   
outline: none;
border-radius: 30px;
color: white;
align-items: center;
top: 5px;
}

.checkbox
{
  margin: 30px 10px 30px 0;
}
span
{
  color: white;
  font-size: 15px;
  bottom: 68px;
  position: absolute;
}



}
#register{
 
 top: 1000px;

}

.dropdown {
width: 100%;
padding: 10px 0;
margin: 5px 0;
border-left: 0 ;
border-top: 0;
border-right: 0;
border-bottom: 1px solid cornsilk;
outline:none ;
background: transparent;
color: white;
}

.dropdown-content {
 
}

.dropdown-content option {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
  
} 

.dropdown-content option:hover {background-color: white;
color:black;}

.dropdown:hover .dropdown-content {
  display: inline-block;
  
}

.dropdown:hover .dropbtn {

    
  
}
.dropbtn {
  width: 280px;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0 ;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid cornsilk;
  outline:none ;
  background: transparent;
  color: white;
  float: left;
  left: 10px;
}